:root{
  --primary-color:  #2C3E50;
  --secondary-color: #1ABC9C;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}
.navbar-bg{
  background-color: var(--primary-color);
}



.card{
  background-color: var(--primary-color);
  border: transparent;
}


.icons{
  color: white !important;
}
.footer-cards{
  background-color: var(--primary-color);
}
.footer-text{
  background-color: #1A252F;
}
.about-section{
  background-color: var(--secondary-color);
}

.star{
  height: 4px;
  width: 100px;
  margin-top: 5px;
  background-color: white;
  display: block;
}
