:root{
  --primary-color:  #2C3E50;
  --secondary-color: #1ABC9C;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}
.navbar-bg{
  background-color: var(--primary-color);
}

.footer{
  background-color: var(--primary-color);
}

.card{
  background-color: var(--primary-color);
  border: transparent;
}

.copyright{
  color: white;
}